@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS custom styles */
@layer utilities {
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-center {
    scroll-snap-align: center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --background: #ffffff;
  --color-primary: #3a643b;
  --color-secondry: #fff7e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: "Roboto", "Barlow", sans-serif;
}

.custom-gradient {
  background: linear-gradient(
    to right,
    rgba(18, 18, 18, 0.88) 0%,
    rgba(22, 21, 21, 0.925) 60%,
    rgba(1, 1, 1, 0) 100%
  );
}

.custom-gradient-res {
  background: linear-gradient(
    to right,
    rgba(18, 18, 18, 0.5) 0%,
    rgba(22, 21, 21, 0.667) 100%
  );
}
